<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="../css/products.css">
</head>
<body>
    <header>
        <a href="#">Inicio</a>
        <a href="../views/cart.html">Tú carrito</a>
    </header>

    <form action="">
        <select name="" id="">
            <option value="Categoría">Categoría</option>
            <input type="text" name="" id="categoria">
            <input type="submit" value="Filtrar" id="submit">
        </select>
    </form>

    <main class="container">
        <section class="products">

        </section>

        <section>
            <button id="before">Atrás</button>
            <span id="pageNumber"></span>
            <button id="next">Siguiente</button>
        </section>
    </main>



    <script type="module" src="../js/products.js"></script>
</body>
</html>